<mat-form-field class="example-form-field" appearance="fill">
  <mat-label>{{ label }}</mat-label>
  <input
    [matAutocomplete]="auto"
    matInput
    type="text"
    #searchBox
    (input)="search(searchBox.value)"
  />
  <button
    matSuffix
    mat-icon-button
    *ngIf="searchBox.value"
    (click)="searchBox.value = ''"
  >
    <mat-icon>search</mat-icon>
  </button>

  <mat-autocomplete
    #auto="matAutocomplete"
    (optionSelected)="searchBox.value = ''"
  >
    <mat-option *ngFor="let hero of heroes$ | async" [value]="hero">{{
      hero.name
    }}</mat-option>
  </mat-autocomplete>
</mat-form-field>
